@import url(http://fonts.googleapis.com/css?family=Ubuntu);
 
* {
    margin: 0; 
    padding: 0;
}
         
body {
    font-family: Ubuntu, arial, verdana;
}
element.style {
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
meta {
    display: none;
}
Inherited from html
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
	border-radius: 0px;
	align:bottom;
	margin:25px;
}

.form{
	position: relative;
    padding:0 !important;
    margin-top:70px !important;
    background: #eee;
    margin-top: 23px;
    text-align:center;
    margin-bottom: 0 !important;
}

.center {
	position: relative;
	margin-top: 70px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
	padding-left: 300px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-header {
	background-color: #F0F8FF;
	width: 100%;
	font-size: 28px;
	padding-bottom: 10px;
	text-align: center;

	
}
.modal-footer{
	 padding: 20px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.list-title{
	text-align:center
}


.list-group-item{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.li{
	border-bottom: 3px solid #fff;;

}

.pricing_table {
    line-height: 150%; 
    font-size: 12px; 
    margin: 0 auto; 
    width: 75%; 
    max-width: 800px; 
    padding-top: 10px;
    margin-top: 100px;
}
 
.price_block {
    width: 100%; 
    color: #fff; 
    float: left; 
    list-style-type: none; 
    transition: all 0.25s; 
    position: relative; 
    box-sizing: border-box;
     
    margin-bottom: 10px; 
    border-bottom: 1px solid transparent; 
}
.pricing_table h3 {
    text-transform: uppercase; 
    padding: 5px 0; 
    background: #333; 
    margin: -10px 0 1px 0;
}
.price {
    display: table; 
    background: #444; 
    width: 100%; 
    height: 70px; 
}
.price_figure {
    font-size: 24px; 
    text-transform: uppercase; 
    vertical-align: middle; 
    display: table-cell;
}
.price_number {
    font-weight: bold; 
    display: block;
}
.price_tenure {
    font-size: 11px; 
}
.features {
    background: #DEF0F4; 
    color: #000;
}
.features li {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc; 
    font-size: 11px; 
    list-style-type: none;
}
.footer {
    padding: 15px; 
    background: #DEF0F4;
}
.action_button {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    border-radius: 5px; 
    background: linear-gradient(#666, #333); 
    padding: 5px 20px; 
    font-size: 11px; 
    text-transform: uppercase;
}
.price_block:hover {
    box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
    transform: scale(1.04) translateY(-5px); 
    z-index: 1; 
    border-bottom: 0 none;
}
.price_block:hover .price {
    background:linear-gradient(#DB7224, #F9B84A); 
    box-shadow: inset 0 0 45px 1px #DB7224;
}
.price_block:hover h3 {
    background: #222;
}
.price_block:hover .action_button {
    background: linear-gradient(#F9B84A, #DB7224); 
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .price_block {width: 50%;}
    .price_block:nth-child(odd) {border-right: 1px solid transparent;}
    .price_block:nth-child(3) {clear: both;}
     
    .price_block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 768px){
    .price_block {width: 25%;}
    .price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
    .price_block:last-child {border-right: 0 none;}
     
    .price_block:hover {border: 0 none;}
}
.thumbnail img {
    width: 100%;
}
thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
footer {
    margin: 50px 0;
}
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}